{% extends "WmaReisebueroAdminBundle::layout.html.twig" %}

{% block title "Reisebüro - Admininterface - Region anlegen" %}

{% block content %}
<h1>Region anlegen</h1>

<form action="{{ path('_admin_regionen_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    
    <input type="submit" value="Region anlegen" />
</form>

{% endblock %}