{% extends "WmaReisebueroAdminBundle::layout.html.twig" %}

{% block title "Reisebüro - Admininterface - Reise anlegen" %}

{% block content %}
    <h1>Reise anlegen</h1>
    
    <form action="{{ path('_admin_reisen_edit', { 'id': reise.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_rest(form) }}

    <input type="submit" />
</form>
{% endblock %}